/* adding style to adjacent selector

#all-articles h2 + p
{
    color: goldenrod;
}*/

/*article p:first-of-type
{
    font-weight: bold;
}

article p:last-of-type
{
    color: red;
}*/

article
{
    text-decoration: none;

}

h1
{
    font-size: 48px;
    color: lawngreen;
    font-weight: bolder;
    text-transform: full-width;
}

h2
{
    font-size: 32px;
    color: #ff6699;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
}

p
{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    word-spacing: 1.5px;
    line-height: 2em;
    margin-bottom: 32px;
}

#Header
{
    background: lightcyan;
}

.box
{
    margin: 30px auto;
    padding: 30px 20%;
    border: 1px solid #000000;
    width: 300px;
}