/* adding style to adjacent selector

#all-articles h2 + p
{
    color: goldenrod;
}*/

/*article p:first-of-type
{
    font-weight: bold;
}

article p:last-of-type
{
    color: red;
}*/

article
{
    text-decoration: none;

}

h1
{
    font-size: 48px;
    color: lawngreen;
    font-weight: bolder;
    text-transform: full-width;
}

h2
{
    font-size: 32px;
    color: #ff6699;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
}

p
{
    font-size: 16px;
    font-family: "Yu Gothic";
    font-weight: 100;
}

#Header
{
    background: lightcyan;
}