/****************************
*
*author: dmnfdslkjf
*date: flkdsjfds
*
****************************/
/*h2
{
    font-size: 24px;
}

#content-header
{
    font-size: 18px;
    color: red;
}

span
{
    display: block;
    color: blue;
}

span
{
    display: block;
    color: red;
}*/

/*using child combinator - only to inherite style by
direct children of the element*/

#main-content > p
{
    color: red;
}