/****************************
*
*author: dmnfdslkjf
*date: flkdsjfds
*
****************************/
/*h2
{
    font-size: 24px;
}

#content-header
{
    font-size: 18px;
    color: red;
}

span
{
    display: block;
    color: blue;
}

span
{
    display: block;
    color: red;
}*/

body
{
    color: red;
}

div
{
    color: blue;
}

p
{
    color: green;
}